body {
  background: linear-gradient(to left, black, navy);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

h1, h2, h3, p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 300;
}

button {
  background: white;
  font-family: 'Open Sans', sans-serif;
  color: blue;
  padding: 5px;
  margin: 10px;
}

/* .footer {
  background-color: #323231;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  border-top: 5px solid #686866;
  align-content: flex-end;
  align-items: center;
  bottom: 0;
} */

.hidden {
  display: none !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-player2, .form-player1 {
  margin-top: 30px;
}

.player-hand {
  align-content: center;
}

.card-deck {
  align-content: center;
}

.card {
  width: 170px;
  height: 300px;
}

.card-active {
  width: 220px;
  height: 350px;
}

.game-off {
  justify-content: space-between;
}

.extra-padding {
  padding-left: 20px;
  padding-right: 20px;
}
